.header{
    height: 5em;
    margin-bottom: 2em;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 5px;
    }
  }
  
  .sortDropdown{
    margin-top: 2em;
    float: right;
  }
  .sortButton{
    width: 100%;
    border: none;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }